
<div class="container shadow pt-3 pb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home" >EFAI</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Immobilisation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu3">Répartitions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu4">BEI</a>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="home">
      <osi-app-efai-form [efai]="efai"></osi-app-efai-form>
    </div>
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container fade" id="menu2">...</div>
    <div class="tab-pane container fade" id="menu3">...</div>
  </div>

  <hr>
  <button type="button" class="btn btn-primary" (click)="retourGestion()">Retour gestion eF@I</button>
</div>

