
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary ">
  <a class="navbar-brand" href="#">{{titre}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          routerLinkActive="active">
          eF@I
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/efai/gestion']" routerLinkActive="active">Gestion</a>
          <a class="dropdown-item"[routerLink]="['/efai/taches']" routerLinkActive="active">Tâches</a>
          <a class="dropdown-item" href="#">Tâches Comptable Immo</a>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            routerLinkActive="active">
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/utilisateur']" routerLinkActive="active">Gestion des utilisateurs</a>
            <a class="dropdown-item" [routerLink]="['/flux']" routerLinkActive="active">Suivi des flux</a>
          </div>
        </li>
    </ul>
  </div>
</nav>