<div class="container-fluid">
  <div class="row">
    <div class="col">
        <form>
          <div class="form-group row">
            <label for="critProjet" class="col-sm-1 text-right col-form-label">Projet</label>
            <div class="col-sm-1">
              <input type="text" class="form-control tailleprojet" id="critProjet"/>
            </div>
            <label for="critLibelleProjet" class="col-lg-2 text-right col-form-label">Libellé du projet</label>
            <div class="col-lg">
              <input type="text" class="form-control" id="critLibelleProjet"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="critDateCreationDeb" class="col-sm-1 text-right col-form-label">Créée entre le </label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="critDateCreationDeb"/>
            </div>
            
            <label for="critDateCreationFin" class="col-sm-1 col-form-label">et le </label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="critDateCreationFin"/>
            </div>
            
            <label for="critDateMiseEnService" class="col-sm-4 col-form-label">Date de mise en service prév. inférieure à  </label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="critDateMiseEnService"/>
            </div>
          </div>


          <div class="form-group row">
            <label for="critProjet" class="col-sm-1 text-right col-form-label">Statut</label>
            <div class="col-sm-2">
                <select id="inputState" class="form-control">
                    <option value=""></option>
                    <option *ngFor="let statut of critStatuts">{{statut}}</option>
                </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Filtrer</button>
            </div>
          </div>
        </form>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">N°Efai</th>
            <th scope="col">N° de projet</th>
            <th scope="col">Libelle du projet</th>
            <th scope="col">Date modification</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let efai of efaisFiltrees()">
            <td><a [routerLink]="['/efai/edit',efai.identifiant]">{{efai.identifiant}}</a></td>
            <td>{{efai.projet.codeProjet}}</td>
            <td>{{efai.projet.libelle}}</td>
            <td>{{efai.dateDerniereModif | date:"dd/MM/yyyy"}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
